
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="adminloginsuccess" routerLinkActive="active" class="nav-link">Home Page</a>

    </li>
    <li class="nav-item active">
        <a routerLink="create-station" routerLinkActive="active" class="nav-link">Add Station</a>

    </li>
    <li class="nav-item active">
    <a routerLink="stations" routerLinkActive="active" class="nav-link">Stations List</a>

    </li>
        <li class="nav-item active">
        <a routerLink="create-trip" routerLinkActive="active" class="nav-link">Add Trip</a>

        </li>
    

        <li class="nav-item active">
            <a routerLink="trips" routerLinkActive="active" class="nav-link">Trips List</a>

        </li>
     
       
     </ul>
</nav>



<!--h1 class="text-center">{{title}}</h1>--><
<div class="container">

<router-outlet></router-outlet>
</div>
