<head>
    <meta name="viewport" >
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    form {border: 5px solid #f1f1f1;}
    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  </style> 
    </head>
  <div class = "container col-md-6">
      <h1 style=" color: #8b0000;"><b>Admin Sign-up</b></h1>
      <form #adminsignupform = "ngForm" (ngSubmit)="SignUpAdmin()">
  
          <small class="text-danger">{{msg}}</small>
         
          <div class="form-group">
            <label for="email"><b>Email:</b></label>
            <input type="email" class="form-control" id = "email" name = "email" [(ngModel)]=admin.email required #email = "ngModel" >
            <small class="text-danger"[class.d-none]="email.valid || email.untouched">Email feild is required</small>
          </div>
  
          
          <div class="form-group">
            <label for="pwd"><b>Password:</b></label>
            <input type="password" class="form-control" id="password" name = "password" [(ngModel)]=admin.password required #password = "ngModel"
            [class.is-invalid]="password.invalid && password.touched"
            >
            <small class="text-danger"[class.d-none]="password.valid || password.untouched">password field is required</small>
          </div>
  
          <br>
          <div class="form-group">
              <label for="pwd"><b>Confirm password:</b></label>
              <input type="password" class="form-control" id="password" name = "cpassword" [(ngModel)]=admin.password required #cpassword = "ngModel"
              [class.is-invalid]="cpassword.invalid && cpassword.touched"
              >
              <small class="text-danger"[class.d-none]="(cpassword.value==password.value)|| cpassword.untouched">password and confirm password must be same</small>
            </div>
            <br>
          <button [disabled]="adminsignupform.form.invalid" style="margin:5px" type="submit" class="btn btn-default">Sign-up</button>
          <button [routerLink]="['/adminlogin'] " style="margin:5px" class="btn btn-default">Login</button>
      </form>
      
  
  </div>